:root{
    --mainColor: #6475FA;
    --secondaryColor:#B0B8FB;

    --borderColor:#7A6E6F;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #6475FA;

    --buttonColor:#313A7A;
}

/* #6475FA */